body {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
}

.header {
  height: 114px;
  width: 100%;
  display: flex;
}

.header > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#header li {
  height: 39px;
  list-style-type: none;
}

#header li a {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-decoration: none;
}

.image_wrapper {
  width: 1366px;
  height: 768px;
  margin: 0 auto;
  background-image: url("asssets/2669bbb70886aaf60ab23683494c2331.jpg");
  display: flex;
  justify-content: end;
}

.album-image {
cursor: pointer;
}

.pasport {
 display: flex;
 align-items: center;
 height: 300px;
}

.zakladka-container {
  height: 222px;
  width: 148px;
  margin-right: 57px;
  margin-top: 29px;
}
.zakladka-container ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.zakladka-container ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.zakladka-container ul li a {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  text-decoration: underline solid #fff;
}

.title {
  width: 153px;
  margin: 80px auto 68px auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000;
}

.table_container {
  width: 596px;
  height: 541px;
  margin: 0 auto;
  background-color: #d9d9d9;
  border: 2px solid red;
}

.first {
  width: 100%;
  height: 95px;
  display: flex;
}

#first {
  width: 248px;
  height: 100%;
  border: solid red;
  border-width: 0 2px 2px 0;
}
#third {
  width: 99px;
  height: 100%;
  border: solid red;
  border-width: 0 0 2px 0;
}

.second {
  width: 596px;
  height: 16px;
  border: solid red;
  border-width: 0 0 2px 0;
}

.third {
  height: 298px;
  width: 596px;
  border: solid red;
  border-width: 0 0 2px 0;
  background-color: #556733;
}
#central {
  width: 402px;
  height: 298px;
  border: solid red;
  border-width: 0 2px 2px 0;
  background-color: #d9d9d9;
}
.fouth {
  height: 130px;
  width: 596px;
  display: flex;
}

#half {
  width: 296px;
  height: 100%;
  border: solid red;
  border-width: 0 2px 0 0;
}

#half-half {
  width: 296px;
  height: 66px;
  border: solid red;
  border-width: 0 0 2px 0;
}

#half-sq {
  width: 68px;
  height: 130px;
  border: solid red;
  border-width: 0 2px 0 0;
}

.album-container {
  width: 322px;
  height: 145px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 26px;
  margin: 0 auto;
}
.album-container img {
  width: 100%;
  height: auto;
  display: block;
}
.list-container {
  margin-top: 97px;
  margin-left: 172px;
  width: 136px;
  height: 145px;
}
.list-container ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  font-size: 36px;
}
.list-container a {
  color: #000;
}
.about-vegetables {
  width: 80%;
  margin: 38px auto 0 auto;
}
.about-title {
  width: 295px;
  height: 44px;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
}
.about-subtitle {
  width: 990px;
  height: 234px;
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  margin-left: 55px;
  margin-top: 25px;
}

table {
  width: 965px;
  border-collapse: collapse;
  margin: 0 auto;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
.link-to-main {
  width: 340px;
  height: 44px;
  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
  text-decoration: underline;
  margin: 72px auto 0 auto;
}

.order-container{
  width: 80%;
  margin: 0 auto;
}
.order-title{
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  margin: 27px auto 18px auto;
}
.buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
  width: 250px;
}
.task-container{
  width: 772px;
  height: 136px;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
}
.store-container{
  width: 1075px;
  height: 886px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
